body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #703FF9;
  color: white;
  padding: 20px 0; /* Увеличиваем верхнюю и нижнюю отступы */
  display: flex; /* Используем flexbox для выравнивания элементов */
  align-items: center; /* Центрируем элементы по вертикали */
}

.logo {
  margin-left: auto; /* Сдвигаем логотип вправо */
  right: 100px; /* Отступ от правого края */
}

.logo img {
  max-width: 100px;
}

.hamburger {
  cursor: pointer;
  font-size: 40px; /* Увеличиваем размер кнопки меню */
  color: white;
  margin-right: 20px;
}

.navbar {
  display: none; /* Скрываем меню по умолчанию */
  position: absolute; /* Позволяет расположить меню относительно родителя */
  right: 20px; /* Отступ от правого края */
  background-color: #703FCE; /* Цвет фона меню */
  border-radius: 5px; /* Скругленные углы */
  z-index: 1000; /* Показать поверх других элементов */
}

.navbar.active {
  display: block; /* Показываем меню при активации */
}

.navbar ul {
  list-style: none;
  padding: 10px 0; /* Отступы внутри меню */
  margin: 0; /* Убираем отступы вокруг списка */
}

.navbar ul li {
  margin: 10px 0; /* Отступы между пунктами меню */
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  display: block; /* Занимает всю ширину */
  padding: 10px 15px; /* Отступы для удобства клика */
}

.navbar ul li a:hover {
  background-color: #703FCE; /* Эффект при наведении */
}

/* Адаптивные стили */
@media (min-width: 768px) {
  .navbar {
    display: flex; /* Показываем меню на больших экранах */
  }

  .hamburger {
    display: none; /* Скрываем кнопку меню на больших экранах */
  }
}

main {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #703FF9;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

form {
  margin-top: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #703FF9;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #703FCE;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
