body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #703FF9; /* Цвет фона заголовка */
  color: white;
  padding: 20px; /* Отступы для заголовка */
  display: flex; /* Используем flexbox для выравнивания элементов */
  align-items: center; /* Центрируем элементы по вертикали */
}

.logo {
  margin-right: auto; /* Сдвигаем логотип влево */
}

.logo img {
  width: 150px; /* Ширина логотипа */
  height: 150px; /* Высота логотипа */
}

.nav-links {
  display: flex; /* Размещаем ссылки в ряд */
  gap: 20px; /* Отступ между ссылками */
}

.nav-links ul {
  list-style: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы */
  display: flex; /* Размещаем элементы списка в строку */
}

.nav-links ul li {
  text-align: center; /* Центрируем текст в ссылках */
}

.nav-links a {
  color: white; /* Цвет текста ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  padding: 10px; /* Отступы для удобства клика */
}

/* Вертикальное расположение текста для многословных ссылок */
.nav-links a br {
  display: none; /* Скрываем <br>, который мы добавим в HTML */
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .nav-links ul {
    flex-direction: column; /* Вертикальное расположение ссылок на мобильных */
  }
}

main {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #703FF9; /* Цвет фона для подвала */
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

form {
  margin-top: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #703FF9; /* Цвет кнопки */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #703FCE; /* Цвет кнопки при наведении */
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
